<?xml version="1.0"?>
<config>
    <modules>
        <Worldview_Article>
            <version>0.0.1</version>
        </Worldview_Article>
    </modules>

    <global>
        <models>
            <worldview_article>
                <class>Worldview_Article_Model</class>
                <resourceModel>worldview_article_mysql4</resourceModel>
            </worldview_article>
            <worldview_article_mysql4>
                <class>Worldview_Article_Model_Mysql4</class>
                <entities>
                    <article>
                        <table>article</table>
                    </article>
                </entities>
            </worldview_article_mysql4>
        </models>
    
        <helpers>
            <worldview_article>
                <class>Worldview_Article_Helper</class>
            </worldview_article>
        </helpers>

        <resources>
            <worldview_article_setup>
                <setup>
                    <module>Worldview_Article</module>
                </setup>
            </worldview_article_setup>
        </resources>
    </global>
</config>