<?xml version="1.0"?>
<config>
    <modules>
        <Worldview_Source>
            <version>0.0.3</version>
        </Worldview_Source>
    </modules>

    <global>
        <models>
            <worldview_source>
                <class>Worldview_Source_Model</class>
                <resourceModel>worldview_source_mysql4</resourceModel>
            </worldview_source>
            <worldview_source_mysql4>
                <class>Worldview_Source_Model_Mysql4</class>
                <entities>
                    <source_category>
                        <table>source_category</table>
                    </source_category>
                    <source_language>
                        <table>source_language</table>
                    </source_language>
                    <source_country>
                        <table>source_country</table>
                    </source_country>
                    <rss_source>
                        <table>worldview_rss_source</table>
                    </rss_source>
                </entities>
            </worldview_source_mysql4>
        </models>

        <helpers>
            <worldview_source>
                <class>Worldview_Source_Helper</class>
            </worldview_source>
        </helpers>

        <resources>
            <worldview_source_setup>
                <setup>
                    <module>Worldview_Source</module>
                </setup>
            </worldview_source_setup>
        </resources>
    </global>

    <default>
        <scrape>
            <source_helpers>
                <fox_news_world>foxnews</fox_news_world>
                <cnn_world>cnn</cnn_world>
                <msnbc_world>msnbc</msnbc_world>
                <huffington_post_world>huffington</huffington_post_world>
                <usa_today_world>usa_today</usa_today_world>
                <times_of_india_world>times_india</times_of_india_world>
                <peoples_daily_world>peoples_daily</peoples_daily_world>
            </source_helpers>
        </scrape>
    </default>
</config>